.container{
    padding: 1rem;
}

#justify-space-between {
    justify-content: space-between;
}

h2{
    margin: 2rem;
}
/* header */

header{
    background-color: #434344;
}


.logo, .link, .shop{
    color: #dadada;
}

.link{
    text-align: center;
    display: none;
}

.link a{
    margin-left: 1em;
    text-decoration: none;
    color: #dadada;
}

.shop{
    text-align: right;
}

.shop i{
    margin: 0 1em;
}

/* main */

main{
    background-color: #dadada;
}

main .row p{
    text-align: center;
}

main .row p a{
    color: #286aff;
}

main h2{
    text-align: center;
}

main .row img{
    width: 100%;
}

/* MEDIA QUERY */

@media screen and (min-width:768px){
    .link{
        display: inline-block;
    }
}